*{
	box-sizing: border-box;
}


body{
	text-align: center;
	color: white;
	background-image: url("https://sitefarm.ucdavis.edu/sites/g/files/dgvnsk511/files/styles/sf_landscape_16x9/public/images/article/pexels-laptop-code.jpg?h=a141e9ea&itok=hNE8IwEc");
	background-repeat: no-repeat;
	background-size: cover;
}


#main-nav{
 	margin: 0 auto; 
    	width: auto; 
    	font-size:20px;
    	clear: both; 
    	display: block;
}

div{
	text-align:center;
	background: rgba(0,0,0,0.5);
	color: white;
	border: 1px solid white;
		
}

a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: red;
}
